/*!
 * Custom stylesheet for AAS-in-Asia 2024 website
 * Created by Rafieiy (https://github.com/davieiycode) on 2025
 */

/* CUSTOM HEADINGS */

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lora', Georgia !important;
  font-weight: 500;
}

h1 {
  text-align: center;
  margin: 0.67em 0 !important;
  font-size: 40px !important;
}

/* JUMBOTRON */

.jumbotron {
  min-height: 400px;
}

code {
  padding: 0.2rem 0.4rem;
  font-size: 90%;
  color: #3c74ac;
  background-color: #f7f7f9;
  border-radius: 0.25rem;
}

/* NAVBAR */

/*.dropdown-item.disabled-item,
.nav-link.disabled-item {
  color: #6c757d50;
  background-color: transparent;
  cursor: not-allowed;
  pointer-events: none;
}*/

.nav-round {
  color: #fff;
  background-color: #0078d4;
  padding: 1rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
  margin-left: auto;
  border-radius: 2rem;
}

/* INDICATOR */
.indicator {
  color: #fff;
  background-color: #0078d4;
  border-radius: 1rem;
}

.indicator-instruction {
  color: #fff;
  background-color: #17a2b8;
  border-radius: 0.25rem;
  cursor: pointer;
}

.indicator-start {
  color: #fff;
  background-color: #0078d4;
  border-radius: 0.5rem 1rem 1rem 0.5rem;
}

.indicator-end {
  color: #fff;
  background-color: #0078d4;
  border-radius: 1rem 0.5rem 0.5rem 1rem;
}

/* BADGE */

.badge-ico-done {
  color: #00B294;
  background-color: rgba(0, 178, 148, 0.123);
}

.badge-ico-process {
  color: #0078d4;
  background-color: #0078d41a;
}

.nav-link:hover .badge-ico-process,
.nav-link.active .badge-ico-done {
  color: #fd8300 !important;
  background-color: transparent !important;
  font-family: 'Albert Sans', Helvetica  !important;
  font-weight: 800;
  text-decoration: none;
  font-size: 11pt;
  letter-spacing: .5px;
}

.nav-link.active .badge-ico-process,
.nav-link.active .badge-ico-done {
  color: #fd8300 !important;
  background-color: transparent;
  font-family: 'Albert Sans', Helvetica  !important;
  font-weight: 800;
  text-decoration: none;
  font-size: 11pt;
  letter-spacing: .5px;
}

/* NAV Item */

.nav-item a {
  font-family: 'Albert Sans', Helvetica  !important;
  font-weight: 600;
  text-decoration: none;
  font-size: 10pt;
  color: #2e2e2e !important;
}

.nav-item .nav-link:hover {
  /* border-bottom: 2px solid #fdd300; */
  padding-bottom: 3px;
  color: #fd8300 !important;
}

.nav-item a.active span {
  background: #fdd300 !important;
}

.nav-item a.active {
  /* border-bottom: 2px solid #fdd300; */
  padding-bottom: 3px;
  color: #fd8300 !important;
}

/* NAV Pills */

.nav-pills {
  border-radius: .5rem !important;
  font-family: 'Albert Sans', Helvetica  !important;
  font-weight: 800;
  text-decoration: none;
  font-size: 11pt;
  letter-spacing: .5px;
  color: #fd8300 !important;
}

.nav-pills .nav-link:hover{
  background-color: #fdd300;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fd8300 !important;
  background-color: #ffc1071f;
}

/* FOOTER */

.footer {
  background-color: #f5f9fd;
  border-top: 1px solid #eaeaf6;
}

/* REGISTER BUTTON IN NAVBAR */

@media (max-width: 991px) {
  .nav-register {
    position: absolute;
    right: 5.5rem;
    top: 0.6rem;
    padding: 0.55rem 1rem;
    font-family: 'Albert Sans', Helvetica  !important;
    font-weight: 800;
    text-decoration: none;
    font-size: 10pt;
  }
}

@media (min-width: 992px) {
  .nav-register {
    margin-left: 10px;
    font-family: 'Albert Sans', Helvetica  !important;
    font-weight: 800;
    text-decoration: none;
    font-size: 10pt;
  }
}

/* SCROLLABLE MENU */

@media (max-width: 991px) {
  .scrollable-menu {
    height: auto;
    max-height: 100vh;
    max-height: 300px;
    overflow-x: hidden;
  }
}

::-webkit-scrollbar {
  width: 0px !important; /* remove scrollbar space */
  background: transparent; /* optional: just make scrollbar invisible */
  -ms-overflow-style: none;
}

/* List of Sponsors & Exhibitors */

.card-white {
  margin: 1rem;
  padding: 1rem;
  background-color: #fff !important;
  border-radius: .5rem;
  border: none;
}

.card-white p {
  display: none;
}

.card-white:hover p {
  display: block !important;
  color: #fff !important;
  vertical-align: end !important;
}

.card-white img {
  border: none;
  max-height: 75px;
  max-width: 180px !important;
  padding: .5rem 0;
  margin: .5rem auto;
  display: flex;
  justify-content: center; /* horizontal center */
  align-items: center; /* vertical center jika perlu */
}

.card-white:hover img {
  display: none;
}

.card-white:hover {
  background-color: #0dcaf0 !important;
  box-shadow:
    0 4px 6px rgba(0, 0, 0, 0.08);   /* slightly larger, softer shadow */
  text-decoration: none !important;
  cursor: pointer;
}

.card-white:active {
  background-color: #fd8300 !important;
  box-shadow:
    0 6px 12px rgba(0, 0, 0, 0.15);
  transform: translateY(2px); /* efek tombol ditekan turun sedikit */
}

/* List of News */

.notices {
  color: #000;
  margin: 1rem;
  /* text-align: center; */
}

.notices p {
  color: gray;
}

.notices:hover {
  color: #fd8300 !important;
  text-decoration: none !important;
  cursor: pointer;
}

/* MODAL */

.article-list .modal-body {
  padding: 2.5rem 3rem 1rem 3rem;
}

.article-list .modal-title {
  margin-bottom: 1rem;
}

.article-list .modal-body .abstract {
  margin-top: 1.5rem;
}

.article-list .modal-footer .btn {
  font-size: 90%;
}

.article-list .modal-footer {
  justify-content: space-between;
  padding-left: 3rem;
}

/* BUTTONS TEXT */

.btn {
  font-family: 'Lato', Helvetica, Arial !important;
  font-weight: 500;
  font-size: 10pt;
  padding-left: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 25px;
  text-decoration: none !important;
}

.btn-primary {
  --bs-btn-color: #00406E;
  --bs-btn-bg: #fdd300;
  --bs-btn-border-color: #fdd300;
  --bs-btn-hover-color: #fd8300;
  --bs-btn-hover-bg: #fff;
  --bs-btn-hover-border-color: #fff;
  --bs-btn-focus-shadow-rgb: 60, 153, 110;
  --bs-btn-active-color: #fd8300;
  --bs-btn-active-bg: #fff;
  --bs-btn-active-border-color: #fff;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #fdd300c0;
  --bs-btn-disabled-border-color: #fdd300c0;
}

.btn-transprimary {
  --bs-btn-color: #fdd300;
  --bs-btn-bg: transparent;
  --bs-btn-border-color: transparent;
  --bs-btn-hover-color: #fd8300;
  --bs-btn-hover-bg: transparent;
  --bs-btn-hover-border-color: transparent;
  --bs-btn-focus-shadow-rgb: 60, 153, 110;
  --bs-btn-active-color: #fd8300;
  --bs-btn-active-bg: transparent;
  --bs-btn-active-border-color: transparent;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #c0c0c0;
}

.btn-trans2primary {
  --bs-btn-color: #fdd300;
  --bs-btn-bg: transparent;
  --bs-btn-border-color: transparent;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #40bb6a;
  --bs-btn-hover-border-color: #40bb6a;
  --bs-btn-focus-shadow-rgb: 60, 153, 110;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #40bb6a;
  --bs-btn-active-border-color: #40bb6a;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #40bb6ac0;
  --bs-btn-disabled-border-color: #40bb6ac0;
}

.btn-invprimary {
  text-decoration: none !important;
  --bs-btn-color: #fff;
  --bs-btn-bg: #40bb6a;
  --bs-btn-border-color: #40bb6a;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #fdd300;
  --bs-btn-hover-border-color: #fdd300;
  --bs-btn-focus-shadow-rgb: 60, 153, 110;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #fdd300;
  --bs-btn-active-border-color: #fdd300;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #40bb6ac0;
  --bs-btn-disabled-border-color: #40bb6ac0;
}

@media (max-width: 991px) {
  .article-list .card-footer {
    background: transparent;
    border-top: none;
  }

  .article-list .card-footer .btn {
    font-size: 90%;
  }
}

/* BLUE AREA OF PUBLICATIONS PAGES */

.blue-area h1 {
  color: rgba(255, 255, 255, 0.9);
}

.blue-area h4 {
  color: rgba(255, 255, 255, 0.9);
  line-height: 1.3;
  margin-bottom: 1rem;
}

.blue-area p {
  color: rgba(255, 255, 255, 0.9);
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.3;
}

.blue-area a {
  color: rgba(255, 255, 255, 0.6);
}

.blue-area a:hover {
  color: rgba(255, 255, 255, 0.9);
}

/* BREADCRUMBS IN BLUE AREA */

.blue-area-breadcrumb > .breadcrumb-item + .breadcrumb-item::before {
  color: rgba(255, 255, 255, 0.4);
}

.blue-area-breadcrumb > .breadcrumb-item {
  color: rgba(255, 255, 255, 0.6);
}

.blue-area-breadcrumb > .breadcrumb-item:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
}

.blue-area-breadcrumb > .breadcrumb-item.active:hover {
  color: rgba(255, 255, 255, 0.6);
}

/*.fixed-header{
  position: fixed;
}*/

#return-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7);
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#return-to-top i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 16px;
  top: 13px;
  font-size: 19px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#return-to-top:hover {
  background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
  color: #fff;
  top: 5px;
}
.title {
  display: block;
  margin-top: -40px;
  height: 40px;
}

/* BACKGROUNDS */

.bg-primary {
  background-color: #fdd300 !important;
}

.bg-gray {
  background-color: #EBEBEB !important;
}

/* speakers */
.speaker-img {
  height: 200px;
  width: 200px;
  border: none;
  border-radius: .5rem;
}
.speaker-info {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}
.speaker-name {
  font-size: .9rem;
  font-weight: 800;
  line-height: .5;
  font-family: "Dosis";
  text-transform: uppercase;
}
.speaker-aff {
  font-size: .8rem;
  font-weight: 500;
  font-family: "Albert Sans";
}

/* */

.featured-category {
  color: #00406E;
  text-align: left !important;
  margin-bottom: 0px;
}

.featured-name {
  text-align: left !important;
}

.featured-info {
  font-size: 11pt;
  font-weight: 500;
  font-family: "Albert Sans";
  text-align: justify;
}

/* satellite events */
.event-img {
  height: auto;
  width: 100%;
  border: 1px solid #e5e5e5;
  border-radius: .5rem;
}

p , li {
  font-family: 'Albert Sans';
  font-weight: 500;
  font-size: 11pt;
  line-height: 1.5em;
}

.alert p {
  font-family: 'Albert Sans';
  font-weight: 500;
  font-size: 11pt;
}

ol li {
  font-family: 'Albert Sans';
  font-weight: 500;
  font-size: 11pt;
  line-height: 1.5em;
}

/* Links */

a {
  color: #51ACE5;
  text-decoration: none;
}

a:hover {
  color: #00406E;
  text-decoration: underline;
}

.credit {
  font-size: 9pt;
}

li a:hover {
  text-decoration: none;
}

.nav-primary a {
  color: #2E2E2E;
  text-decoration: none;
}

.nav-primary a:hover {
  color: #fdd300;
  text-decoration: none;
}

.btn-transparent {
  --bs-btn-color: #fdd300;
  --bs-btn-bg: none;
  --bs-btn-border-color: none;
  --bs-btn-hover-color: #40bb6a;
  --bs-btn-hover-bg: none;
  --bs-btn-hover-border-color: none;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #40bb6a;
  --bs-btn-active-bg: none;
  --bs-btn-active-border-color: none;
  --bs-btn-active-shadow: none;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #40bb6a;
  --bs-btn-disabled-border-color: #40bb6a;
}

.btn-transparent:hover {
  color: var(--bs-btn-hover-color);
  background-color: var(--bs-btn-hover-bg);
  border-color: var(--bs-btn-hover-border-color);
}

/* Table */

.table {
  font-family: 'Albert Sans';
  font-weight: 500;
  font-size: 11pt;
  line-height: 1.5em;
}

.table-primary {
  --bs-table-color: #fff;
  --bs-table-bg: #fdd300;
  --bs-table-border-color: #fdd300;
  color: var(--bs-table-color);
  border-color: var(--bs-table-border-color);
}

.accordion-item {
  font-family: 'Albert Sans';
  font-weight: 500;
  font-size: 11pt;
  line-height: 1.5em;
}

.nav-tabs button {
  color: #2E2E2E !important;
  font-family: 'Albert Sans' !important;
  font-weight: 800;
  text-decoration: none;
  font-size: 11pt;
  letter-spacing: .5px;
  --bs-btn-hover-color: #40bb6a;
  --bs-btn-hover-bg: none;
  --bs-btn-hover-border-color: none;
}

.nav-tabs .nav-link:hover, .nav-tabs .nav-link.active {
  color: #40bb6a !important;
}

.second-nav {
  background-color: #f8f7fd;
  border-radius: 5px auto;
}

/* Simple styling to size an SVG */
  .icon {
    height: 11pt;
    vertical-align: -0.125em;
  }

/* */
img.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-repeat: repeat; /* gambar diulang horizontal dan vertikal */
  background-blend-mode: overlay; /* agar warna dan gambar overlay bisa bercampur */
  opacity: 0.5; /* transparansi overlay */
  pointer-events: none; /* agar gambar tidak mengganggu interaksi */